<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 justify-end gap-3 sm:ml-4 sm:mt-0"></div>
    </div>
    <ng-container *ngIf="product$ | async as product">
        <div class="mx-96 overflow-y-auto">
            <section class="body-font overflow-hidden bg-white text-gray-700">
                <div class="container mx-auto px-8 py-8">
                    <div class="grid grid-cols-3 gap-8">
                        <div class="col-span-1 h-full w-full">
                            <img
                                alt="ecommerce"
                                class="h-full w-full rounded border border-gray-200 object-cover"
                                [src]="product.thumbnailUrl"
                            />
                        </div>

                        <div class="col-span-2 mt-6 w-full overflow-y-auto">
                            <h2
                                class="title-font text-sm tracking-widest text-gray-500"
                            >
                                ORIGIN - {{ product.origin | uppercase }}
                            </h2>
                            <h1
                                class="title-font mb-1 text-3xl font-medium text-gray-900"
                            >
                                {{ product.name }}
                            </h1>
                            <div class="mb-4 flex">
                                <span class="flex items-center">
                                    <svg
                                        fill="currentColor"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        class="h-4 w-4 text-red-500"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                                        ></path>
                                    </svg>
                                    <svg
                                        fill="currentColor"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        class="h-4 w-4 text-red-500"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                                        ></path>
                                    </svg>
                                    <svg
                                        fill="currentColor"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        class="h-4 w-4 text-red-500"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                                        ></path>
                                    </svg>
                                    <svg
                                        fill="currentColor"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        class="h-4 w-4 text-red-500"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                                        ></path>
                                    </svg>
                                    <svg
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        class="h-4 w-4 text-red-500"
                                        viewBox="0 0 24 24"
                                    >
                                        <path
                                            d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"
                                        ></path>
                                    </svg>
                                    <span class="ml-3 text-gray-600"
                                        >{{ product.quantity }} In Stock -
                                        {{ product.sold }} Sold</span
                                    >
                                </span>
                            </div>
                            <p class="leading-relaxed">
                                {{ product.description }}
                            </p>
                            <div
                                class="mb-5 mt-6 flex items-center border-b-2 border-gray-200 pb-5"
                            >
                                <div>
                                    <h2
                                        class="title-font text-sm tracking-widest text-gray-500"
                                    >
                                        CATEGORIES
                                    </h2>
                                    <mat-chip-set class="categories mt-3">
                                        @for (
                                            productCategory of product.productCategories;
                                            track $index
                                        ) {
                                            <mat-chip class="example-box">{{
                                                productCategory.category.name
                                            }}</mat-chip>
                                        }
                                    </mat-chip-set>
                                </div>
                            </div>
                            <div class="flex">
                                <span
                                    class="title-font text-2xl font-medium text-gray-900"
                                    >{{
                                        product.price | number: '1.0-2'
                                    }}
                                    VNĐ</span
                                >
                                <div class="ml-auto flex gap-3">
                                    <mat-form-field
                                        class="fuse-mat-dense max-w-64"
                                        [subscriptSizing]="'dynamic'"
                                    >
                                        <mat-icon
                                            class="icon-size-5"
                                            matPrefix
                                            [svgIcon]="
                                                'heroicons_solid:circle-stack'
                                            "
                                        ></mat-icon>
                                        <input
                                            matInput
                                            type="number"
                                            [min]="1"
                                            [max]="product.quantity"
                                            [(ngModel)]="quantity"
                                            [autocomplete]="'off'"
                                            [placeholder]="'Quantity'"
                                        />
                                    </mat-form-field>
                                    <button
                                        class="flex rounded border-0 bg-red-500 px-6 py-2 text-white hover:bg-red-600 focus:outline-none"
                                        (click)="addToCart(product.id)"
                                    >
                                        Add To Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </ng-container>
</div>
