<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Loader -->
        @if (isLoading) {
            <div class="absolute inset-x-0 bottom-0">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
        }
    </div>

    <div class="grid h-screen grid-cols-6 overflow-y-scroll">
        <div class="col-span-1 p-8">
            <div class="flex flex-col gap-4" [formGroup]="filterForm">
                <div class="flex flex-col gap-4">
                    <div class="text-xl font-bold text-gray-600">Search</div>
                    <div>
                        <!-- Search -->
                        <mat-form-field
                            class="fuse-mat-dense fuse-mat-rounded w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-icon
                                class="icon-size-5"
                                matPrefix
                                [svgIcon]="'heroicons_solid:magnifying-glass'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'search'"
                                [autocomplete]="'off'"
                                [placeholder]="'Search'"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="text-xl font-bold text-gray-600">
                        Categories
                    </div>
                    <app-checkbox-list
                        [list]="categories$ | async"
                        formArrayName="list"
                        [form]="filterForm"
                        (valueChanged)="onCategoriesChanged($event)"
                    ></app-checkbox-list>
                </div>
            </div>
        </div>
        <ng-container *ngIf="products$ | async as products">
            <div class="col-span-5 overflow-y-scroll p-8">
                <div class="grid auto-rows-fr grid-cols-5 gap-4">
                    @for (product of products; track $index) {
                        <div class="col-span-1">
                            <fuse-card
                                class="filter-listing flex h-full w-full flex-col bg-slate-100"
                            >
                                <a
                                    [routerLink]="['/products', product.id]"
                                    class="max-h-40 min-h-40"
                                >
                                    <img
                                        class="max-h-40 min-h-40 object-cover"
                                        [src]="product.thumbnailUrl"
                                        alt="Card cover image"
                                    />
                                </a>
                                <div
                                    class="m-4 mb-4 flex h-full flex-col justify-between gap-4"
                                >
                                    <div class="body">
                                        <div class="flex justify-between">
                                            <div class="flex flex-col">
                                                <div
                                                    class="mt-1 text-2xl font-semibold leading-tight"
                                                >
                                                    {{
                                                        product.price
                                                            | number: '1.0-2'
                                                    }}
                                                    VNĐ
                                                </div>
                                                <div
                                                    class="text-secondary mt-1 text-md"
                                                >
                                                    {{ product.origin }}
                                                </div>
                                                <div
                                                    class="text-secondary mt-1 text-xl"
                                                >
                                                    {{ product.name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="my-4"></div>
                                        <div class="flex flex-wrap text-md">
                                            @for (
                                                productCategory of product.productCategories;
                                                track $index
                                            ) {
                                                <span
                                                    class="me-2 rounded bg-blue-500 px-2.5 py-0.5 text-md font-medium text-white dark:bg-yellow-900 dark:text-yellow-300"
                                                >
                                                    {{
                                                        productCategory.category
                                                            .name
                                                    }}
                                                </span>
                                            }
                                        </div>
                                        <div class="my-4"></div>
                                        <div class="flex justify-between">
                                            <span class="whitespace-nowrap"
                                                ><b
                                                    class="font-bold text-green-500"
                                                    >{{ product.quantity }}</b
                                                >
                                                <span> Còn lại </span>
                                            </span>
                                            <span class="whitespace-nowrap"
                                                ><b
                                                    class="font-bold text-blue-500"
                                                    >{{ product.sold }}</b
                                                >
                                                <span> Đã bán</span>
                                            </span>
                                        </div>
                                        <div class="-mx-3 mt-3"></div>
                                    </div>

                                    <div class="footer flex justify-between">
                                        <div>
                                            <button
                                                mat-icon-button
                                                [routerLink]="[
                                                    '/products',
                                                    product.id,
                                                ]"
                                            >
                                                <mat-icon
                                                    class="text-hint icon-size-8"
                                                    [svgIcon]="
                                                        'heroicons_outline:viewfinder-circle'
                                                    "
                                                ></mat-icon>
                                            </button>
                                        </div>
                                        <div>
                                            <button
                                                mat-icon-button
                                                (click)="addToCart(product.id)"
                                            >
                                                <mat-icon
                                                    class="text-hint icon-size-8"
                                                    [svgIcon]="
                                                        'heroicons_solid:shopping-cart'
                                                    "
                                                ></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </fuse-card>
                        </div>
                    }
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- Notification -->
<a class="cursor-pointer" *ngIf="flashMessage">
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'success'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'success'"
    >
        <span fuseAlertTitle>Success</span>
        {{ message }}
    </fuse-alert>
    <fuse-alert
        class="absolute bottom-0 right-0 z-999"
        [type]="'error'"
        [appearance]="'border'"
        *ngIf="flashMessage === 'error'"
    >
        <span fuseAlertTitle>Error</span>
        {{ message }}
    </fuse-alert>
</a>
