<div class="absolute inset-0">
    <!-- Main -->
    <div
        class="flex h-full flex-auto flex-col items-center justify-center p-6 sm:p-10"
    >
        <mat-icon
            class="text-red-700 icon-size-24"
            svgIcon="heroicons_outline:lock-closed"
        ></mat-icon>
        <div
            class="mt-12 text-center text-4xl font-extrabold leading-tight tracking-tight sm:mt-24 md:text-7xl md:leading-none"
        >
            Ooops... 406!
        </div>
        <div
            class="text-secondary mt-2 text-center text-lg font-medium tracking-tight md:text-xl"
        >
            Dường như tài khoản của bạn đã bị khóa, hãy liên hệ bộ phận hổ trợ
        </div>
        <a
            class="mt-12 font-medium text-primary-500 underline"
            [routerLink]="['/home']"
        >
            Back to home
        </a>
    </div>
</div>
